.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-wrapper{
  background-color: #c6ffec;
  height: 100px;
}
.list{
  background-color: #eff3fc;
}
@media (max-width: 615px){
  .header-wrapper{
    background-color: #c6ffec;
    height: 70px;
  }
  .list{
    height: 232px;
    margin: 55px 60px 42px 60px;
  }
  .navigation-wrapper > .left-collumn{
      order: 2;
      margin-top: 10px;
      margin-bottom: 15px; 
  }
  .navigation-wrapper > .center-collumn{
      order: 1;
      width: 100%;
  }
  .navigation-wrapper > .right-collumn{
      order: 3;
      margin-top: 15px;
  }


}

/* anime background */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
} */

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80,80,80,.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}

/* anime background END*/
